@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "@fontsource/playfair-display";
@import "@fontsource/plus-jakarta-sans";
@import "tailwindcss";
@font-face {
  font-family: "IvyPresto_Headline";
  src: url("/fonts/IvyPrestoHeadline_400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IvyPresto_Headline";
  src: url("/fonts/IvyPrestoHeadline_500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IvyPresto_Headline";
  src: url("/fonts/IvyPrestoHeadline_600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

